# Libraries

In [1]:
# for data manipulation
import numpy as np
import pandas as pd

# our defined functions for data preparation
import utils.functions as ft

# setting option
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

# Load Data

In [2]:
cre_raw = pd.read_csv("Data/dseb63_credit_card_balance.csv")
cre_raw = cre_raw[['SK_ID_CURR']+list(cre_raw.columns[:-1])]
print("Shape:", cre_raw.shape)
cre_raw.head()

Shape: (3227965, 23)

,SK_ID_CURR,SK_ID_PREV,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,87788,2582071,-1,63975.55500,45000,2250.00000,2250.00000,0.00000,0.00000,2250.00000,2250.00000,2250.00000,60175.08000,64875.55500,64875.55500,1.00000,1,0.00000,0.00000,69.00000,Active,0,0
1,87788,2582071,-82,16809.21000,67500,0.00000,0.00000,0.00000,0.00000,3375.00000,9000.00000,9000.00000,15488.68500,16809.21000,16809.21000,0.00000,0,0.00000,0.00000,18.00000,Active,0,0
2,87788,2582071,-84,27577.89000,67500,0.00000,0.00000,0.00000,0.00000,3375.00000,4500.00000,4500.00000,26125.02000,27577.89000,27577.89000,0.00000,0,0.00000,0.00000,16.00000,Active,0,0
3,87788,2582071,-7,65159.23500,45000,0.00000,0.00000,0.00000,0.00000,2250.00000,2250.00000,2250.00000,60301.17000,65609.23500,65609.23500,0.00000,0,0.00000,0.00000,63.00000,Active,0,0
4,87788,2582071,-59,70475.85000,67500,24750.00000,24750.00000,0.00000,0.00000,3375.00000,4500.00000,4500.00000,63975.01500,70475.85000,70475.85000,4.00000,4,0.00000,0.00000,41.00000,Active,0,0

In [3]:
pos_raw = pd.read_csv("Data/dseb63_POS_CASH_balance.csv")
pos_raw = pos_raw[['SK_ID_CURR']+list(pos_raw.columns[:-1])]
print("Shape:", pos_raw.shape)
pos_raw.head()

Shape: (8543375, 8)

,SK_ID_CURR,SK_ID_PREV,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,185279,1803195,-31,48.00000,45.00000,Active,0,0
1,185279,1803195,-17,48.00000,31.00000,Active,0,0
2,185279,1803195,-21,48.00000,35.00000,Active,0,0
3,185279,1803195,-8,48.00000,21.00000,Active,0,0
4,185279,1803195,-4,48.00000,17.00000,Active,0,0

In [4]:
# file contains only SK_ID_CURR and TARGET from train_test (defined in DP_TRAIN_TEST notebook)
id_target = pd.read_csv('Data/dseb63_id_target.csv', index_col=0)
id_target.head()

   SK_ID_CURR  TARGET
0      278621 0.00000
1      139008 0.00000
2      138348 0.00000
3       64140 0.00000
4      219374 0.00000

# Data Preparation

### credit_card_balance

In [5]:
cre = cre_raw.copy()

__1. Data Exploration__

In [6]:
ft.data_explore(cre)

                   info
Rows            3227965
Features             23
Duplicate Rows        0
float64              15
int64                 7
object                1

In [7]:
ft.check_nan(cre)

                               nan     %nan
AMT_PAYMENT_CURRENT         620093 19.21003
AMT_DRAWINGS_ATM_CURRENT    605754 18.76582
CNT_DRAWINGS_POS_CURRENT    605754 18.76582
AMT_DRAWINGS_OTHER_CURRENT  605754 18.76582
AMT_DRAWINGS_POS_CURRENT    605754 18.76582
CNT_DRAWINGS_OTHER_CURRENT  605754 18.76582
CNT_DRAWINGS_ATM_CURRENT    605754 18.76582
CNT_INSTALMENT_MATURE_CUM   264384  8.19042
AMT_INST_MIN_REGULARITY     264384  8.19042

In [8]:
ft.multi_features_explore(cre)

index,dtype,nonnull,%nonnull,nan,%nan,nunique,nunique_nan,max,min,mean,std,unique,frequency,%value,most
SK_ID_CURR,int64,3227965,1.00000,0,0.00000,86905,86905,307509,0,153654.24196,88571.20600,NaN,NaN,NaN,NaN
SK_ID_PREV,int64,3227965,1.00000,0,0.00000,87452,87452,2843493,1000018,1903894.10405,536741.48517,NaN,NaN,NaN,NaN
MONTHS_BALANCE,int64,3227965,1.00000,0,0.00000,96,96,-1,-96,-34.71544,26.63609,NaN,NaN,NaN,NaN
AMT_BALANCE,float64,3227965,1.00000,0,0.00000,1182278,1182278,1354829.26500,-420250.18500,59073.32016,106613.65438,NaN,NaN,NaN,NaN
AMT_CREDIT_LIMIT_ACTUAL,int64,3227965,1.00000,0,0.00000,167,167,1350000,0,152953.57478,163709.19623,NaN,NaN,NaN,NaN
AMT_DRAWINGS_ATM_CURRENT,float64,2622211,0.81000,605754,0.19000,2095,2096,2115000.00000,-6827.31000,6024.27160,28421.16397,NaN,NaN,NaN,NaN
AMT_DRAWINGS_CURRENT,float64,3227965,1.00000,0,0.00000,159227,159227,2115000.00000,-6211.62000,7494.08355,33967.42985,NaN,NaN,NaN,NaN
AMT_DRAWINGS_OTHER_CURRENT,float64,2622211,0.81000,605754,0.19000,1650,1651,1529847.00000,0.00000,298.48825,8396.19251,NaN,NaN,NaN,NaN
AMT_DRAWINGS_POS_CURRENT,float64,2622211,0.81000,605754,0.19000,143768,143769,2060030.16000,0.00000,2884.15216,20388.32680,NaN,NaN,NaN,NaN
AMT_INST_MIN_REGULARITY,float64,2963581,0.92000,264384,0.08000,278880,278881,202882.00500,0.00000,3599.68106,5611.74178,NaN,NaN,NaN,NaN
AMT_PAYMENT_CURRENT,float64,2607872,0.81000,620093,0.19000,142261,142262,4289207.44500,0.00000,10238.61302,35864.32509,NaN,NaN,NaN,NaN
AMT_PAYMENT_TOTAL_CURRENT,float64,3227965,1.00000,0,0.00000,156928,156928,4278315.69000,0.00000,7633.46926,31954.03284,NaN,NaN,NaN,NaN
AMT_RECEIVABLE_PRINCIPAL,float64,3227965,1.00000,0,0.00000,1045438,1045438,1354829.26500,-423305.82000,56700.17572,102824.19950,NaN,NaN,NaN,NaN
AMT_RECIVABLE,float64,3227965,1.00000,0,0.00000,1174197,1174197,1354829.26500,-420250.18500,58862.64308,106274.72521,NaN,NaN,NaN,NaN
AMT_TOTAL_RECEIVABLE,float64,3227965,1.00000,0,0.00000,1174308,1174308,1354829.26500,-420250.18500,58872.58540,106281.27595,NaN,NaN,NaN,NaN
CNT_DRAWINGS_ATM_CURRENT,float64,2622211,0.81000,605754,0.19000,44,45,51.00000,0.00000,0.31502,1.11273,NaN,NaN,NaN,NaN
CNT_DRAWINGS_CURRENT,int64,3227965,1.00000,0,0.00000,127,127,165,0,0.70114,3.17183,NaN,NaN,NaN,NaN
CNT_DRAWINGS_OTHER_CURRENT,float64,2622211,0.81000,605754,0.19000,11,12,12.00000,0.00000,0.00499,0.08408,NaN,NaN,NaN,NaN
CNT_DRAWINGS_POS_CURRENT,float64,2622211,0.81000,605754,0.19000,132,133,165.00000,0.00000,0.54310,3.19304,NaN,NaN,NaN,NaN
CNT_INSTALMENT_MATURE_CUM,float64,2963581,0.92000,264384,0.08000,121,122,120.00000,0.00000,21.08883,19.98730,NaN,NaN,NaN,NaN
NAME_CONTRACT_STATUS,object,3227965,1.00000,0,0.00000,7,7,NaN,NaN,NaN,NaN,"[Active, Signed, Completed, Sent proposal, Demand, Refused, Approved]","{'Active': 3116673, 'Completed': 100031, 'Signed': 9939, 'Demand': 843, 'Sent proposal': 460, 'Refused': 14, 'Approved': 5}","{'Active': 0.97, 'Completed': 0.03, 'Signed': 0.0, 'Demand': 0.0, 'Sent proposal': 0.0, 'Refused': 0.0, 'Approved': 0.0}",[Active]
SK_DPD,int64,3227965,1.00000,0,0.00000,844,844,2831,0,9.49480,98.05148,NaN,NaN,NaN,NaN
SK_DPD_DEF,int64,3227965,1.00000,0,0.00000,308,308,2800,0,0.28571,19.57034,NaN,NaN,NaN,NaN

__2. Create new features__

In [9]:
# flag if there is day past due
cre['FLAG_DPD'] = cre['SK_DPD'].apply(lambda x: 0 if x==0 else 1)

# flag if there is day past due (with tolerance)
cre['FLAG_DPD_DEF'] = cre['SK_DPD_DEF'].apply(lambda x: 0 if x==0 else 1)

__3. Dealing with categorical features__

In [10]:
cre_cat = ft.sub_cate_norm(cre,'SK_ID_CURR', 'CRE').reset_index()
cre_cat.head()

,SK_ID_CURR,CRE_NAME_CONTRACT_STATUS_Active_count,CRE_NAME_CONTRACT_STATUS_Active_norm,CRE_NAME_CONTRACT_STATUS_Approved_count,CRE_NAME_CONTRACT_STATUS_Approved_norm,CRE_NAME_CONTRACT_STATUS_Completed_count,CRE_NAME_CONTRACT_STATUS_Completed_norm,CRE_NAME_CONTRACT_STATUS_Demand_count,CRE_NAME_CONTRACT_STATUS_Demand_norm,CRE_NAME_CONTRACT_STATUS_Refused_count,CRE_NAME_CONTRACT_STATUS_Refused_norm,CRE_NAME_CONTRACT_STATUS_Sent proposal_count,CRE_NAME_CONTRACT_STATUS_Sent proposal_norm,CRE_NAME_CONTRACT_STATUS_Signed_count,CRE_NAME_CONTRACT_STATUS_Signed_norm
0,0,8,1.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000
1,1,9,1.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000
2,3,10,0.90909,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,1,0.09091
3,7,15,0.83333,0,0.00000,3,0.16667,0,0.00000,0,0.00000,0,0.00000,0,0.00000
4,9,2,0.18182,0,0.00000,9,0.81818,0,0.00000,0,0.00000,0,0.00000,0,0.00000

__3. Dealing with numerical features__

In [11]:
cre_count = cre.groupby("SK_ID_CURR")[['MONTHS_BALANCE']].count().rename(columns={'MONTHS_BALANCE': 'CRE_CNT_MONTHS'}).reset_index()
cre_count.head()

   SK_ID_CURR  CRE_CNT_MONTHS
0           0               8
1           1               9
2           3              11
3           7              18
4           9              11

In [12]:
cre_num = ft.sub_num_agg(cre, 'SK_ID_CURR', 'CRE')
cre_num.head()

,SK_ID_CURR,CRE_MONTHS_BALANCE_min,CRE_MONTHS_BALANCE_max,CRE_MONTHS_BALANCE_mean,CRE_MONTHS_BALANCE_sum,CRE_AMT_BALANCE_min,CRE_AMT_BALANCE_max,CRE_AMT_BALANCE_mean,CRE_AMT_BALANCE_sum,CRE_AMT_CREDIT_LIMIT_ACTUAL_min,CRE_AMT_CREDIT_LIMIT_ACTUAL_max,CRE_AMT_CREDIT_LIMIT_ACTUAL_mean,CRE_AMT_CREDIT_LIMIT_ACTUAL_sum,CRE_AMT_DRAWINGS_ATM_CURRENT_min,CRE_AMT_DRAWINGS_ATM_CURRENT_max,CRE_AMT_DRAWINGS_ATM_CURRENT_mean,CRE_AMT_DRAWINGS_ATM_CURRENT_sum,CRE_AMT_DRAWINGS_CURRENT_min,CRE_AMT_DRAWINGS_CURRENT_max,CRE_AMT_DRAWINGS_CURRENT_mean,CRE_AMT_DRAWINGS_CURRENT_sum,CRE_AMT_DRAWINGS_OTHER_CURRENT_min,CRE_AMT_DRAWINGS_OTHER_CURRENT_max,CRE_AMT_DRAWINGS_OTHER_CURRENT_mean,CRE_AMT_DRAWINGS_OTHER_CURRENT_sum,CRE_AMT_DRAWINGS_POS_CURRENT_min,CRE_AMT_DRAWINGS_POS_CURRENT_max,CRE_AMT_DRAWINGS_POS_CURRENT_mean,CRE_AMT_DRAWINGS_POS_CURRENT_sum,CRE_AMT_INST_MIN_REGULARITY_min,CRE_AMT_INST_MIN_REGULARITY_max,CRE_AMT_INST_MIN_REGULARITY_mean,CRE_AMT_INST_MIN_REGULARITY_sum,CRE_AMT_PAYMENT_CURRENT_min,CRE_AMT_PAYMENT_CURRENT_max,CRE_AMT_PAYMENT_CURRENT_mean,CRE_AMT_PAYMENT_CURRENT_sum,CRE_AMT_PAYMENT_TOTAL_CURRENT_min,CRE_AMT_PAYMENT_TOTAL_CURRENT_max,CRE_AMT_PAYMENT_TOTAL_CURRENT_mean,CRE_AMT_PAYMENT_TOTAL_CURRENT_sum,CRE_AMT_RECEIVABLE_PRINCIPAL_min,CRE_AMT_RECEIVABLE_PRINCIPAL_max,CRE_AMT_RECEIVABLE_PRINCIPAL_mean,CRE_AMT_RECEIVABLE_PRINCIPAL_sum,CRE_AMT_RECIVABLE_min,CRE_AMT_RECIVABLE_max,CRE_AMT_RECIVABLE_mean,CRE_AMT_RECIVABLE_sum,CRE_AMT_TOTAL_RECEIVABLE_min,CRE_AMT_TOTAL_RECEIVABLE_max,CRE_AMT_TOTAL_RECEIVABLE_mean,CRE_AMT_TOTAL_RECEIVABLE_sum,CRE_CNT_DRAWINGS_ATM_CURRENT_min,CRE_CNT_DRAWINGS_ATM_CURRENT_max,CRE_CNT_DRAWINGS_ATM_CURRENT_mean,CRE_CNT_DRAWINGS_ATM_CURRENT_sum,CRE_CNT_DRAWINGS_CURRENT_min,CRE_CNT_DRAWINGS_CURRENT_max,CRE_CNT_DRAWINGS_CURRENT_mean,CRE_CNT_DRAWINGS_CURRENT_sum,CRE_CNT_DRAWINGS_OTHER_CURRENT_min,CRE_CNT_DRAWINGS_OTHER_CURRENT_max,CRE_CNT_DRAWINGS_OTHER_CURRENT_mean,CRE_CNT_DRAWINGS_OTHER_CURRENT_sum,CRE_CNT_DRAWINGS_POS_CURRENT_min,CRE_CNT_DRAWINGS_POS_CURRENT_max,CRE_CNT_DRAWINGS_POS_CURRENT_mean,CRE_CNT_DRAWINGS_POS_CURRENT_sum,CRE_CNT_INSTALMENT_MATURE_CUM_min,CRE_CNT_INSTALMENT_MATURE_CUM_max,CRE_CNT_INSTALMENT_MATURE_CUM_mean,CRE_CNT_INSTALMENT_MATURE_CUM_sum,CRE_SK_DPD_min,CRE_SK_DPD_max,CRE_SK_DPD_mean,CRE_SK_DPD_sum,CRE_SK_DPD_DEF_min,CRE_SK_DPD_DEF_max,CRE_SK_DPD_DEF_mean,CRE_SK_DPD_DEF_sum,CRE_FLAG_DPD_min,CRE_FLAG_DPD_max,CRE_FLAG_DPD_mean,CRE_FLAG_DPD_sum,CRE_FLAG_DPD_DEF_min,CRE_FLAG_DPD_DEF_max,CRE_FLAG_DPD_DEF_mean,CRE_FLAG_DPD_DEF_sum
0,0,-8,-1,-4.50000,-36,0.00000,36569.43000,6735.50438,53884.03500,180000,180000,180000.00000,1440000,0.00000,0.00000,0.00000,0.00000,0.00000,56187.00000,14053.45500,112427.64000,0.00000,0.00000,0.00000,0.00000,0.00000,56187.00000,14053.45500,112427.64000,0.00000,2250.00000,281.25000,2250.00000,488.07000,63574.92000,14310.64929,100174.54500,0.00000,63574.92000,11959.31812,95674.54500,0.00000,36569.43000,6735.50438,53884.03500,0.00000,36569.43000,6735.50438,53884.03500,0.00000,36569.43000,6735.50438,53884.03500,0.00000,0.00000,0.00000,0.00000,0,10,2.62500,21,0.00000,0.00000,0.00000,0.00000,0.00000,10.00000,2.62500,21.00000,0.00000,1.00000,0.25000,2.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
1,1,-9,-1,-5.00000,-45,15271.20000,227526.21000,147180.88000,1324627.92000,225000,225000,225000.00000,2025000,0.00000,180000.00000,26000.00000,234000.00000,0.00000,180000.00000,26000.00000,234000.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,11497.05000,6675.51500,60079.63500,2250.00000,11700.00000,7678.12500,61425.00000,0.00000,11700.00000,6825.00000,61425.00000,14915.11500,219951.09000,143347.49500,1290127.45500,15271.20000,224385.21000,146334.38000,1317009.42000,15271.20000,224385.21000,146334.38000,1317009.42000,0.00000,3.00000,0.77778,7.00000,0,3,0.77778,7,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,8.00000,4.00000,36.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
2,3,-11,-1,-6.00000,-66,0.00000,140704.96500,124425.87545,1368684.63000,135000,135000,135000.00000,1485000,0.00000,0.00000,0.00000,0.00000,0.00000,145829.07000,17483.85409,192322.39500,0.00000,0.00000,0.00000,0.00000,0.00000,145829.07000,19232.23950,192322.39500,0.00000,7008.61500,5517.69545,60694.65000,309.15000,20823.52500,10061.01450,100610.14500,0.00000,20823.52500,8511.68045,93628.48500,0.00000,134746.96500,119978.64000,1319765.04000,0.00000,138996.99000,123057.73636,1353635.10000,0.00000,138996.99000,123057.73636,1353635.10000,0.00000,0.00000,0.00000,0.00000,0,45,6.72727,74,0.00000,0.00000,0.00000,0.00000,0.00000,45.00000,7.40000,74.00000,0.00000,9.00000,4.09091,45.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
3,7,-18,-1,-9.50000,-171,0.00000,0.00000,0.00000,0.00000,0,225000,62500.00000,1125000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,0.00000,0,0,0.00000,0,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
4,9,-11,-1,-6.00000,-66,0.00000,4711.50000,428.31818,4711.50000,0,900000,163636.36364,1800000,0.00000,68400.00000,6218.18182,68400.00000,0.00000,68400.00000,6218.18182,68400.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2250.00000,204.54545,2250.00000,0.00000,73422.00000,7131.28500,78444.13500,0.00000,73422.00000,7131.28500,78444.13500,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,3.00000,0.27273,3.00000,0,3,0.27273,3,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.90909,10.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0

__4. Merging__

In [13]:
cre_merge = cre_count.merge(cre_cat, on='SK_ID_CURR', how='left')
cre_merge = cre_merge.merge(cre_num, on='SK_ID_CURR', how='left')

In [14]:
# percentage of months past due
cre_merge['CRE_PER_DPD'] = cre_merge['CRE_FLAG_DPD_sum']/cre_merge['CRE_CNT_MONTHS']
# percentage of months past due (with tolerance)
cre_merge['CRE_PER_DPD_DEF'] = cre_merge['CRE_FLAG_DPD_DEF_sum']/cre_merge['CRE_CNT_MONTHS']

# percentage of amount drawing at atm/others/pos
cre_merge['CRE_PER_AMT_DRAWINGS_ATM'] = cre_merge['CRE_AMT_DRAWINGS_ATM_CURRENT_sum']/cre_merge['CRE_AMT_DRAWINGS_CURRENT_sum']
cre_merge['CRE_PER_AMT_DRAWINGS_OTHER'] = cre_merge['CRE_AMT_DRAWINGS_OTHER_CURRENT_sum']/cre_merge['CRE_AMT_DRAWINGS_CURRENT_sum']
cre_merge['CRE_PER_AMT_DRAWINGS_POS'] = cre_merge['CRE_AMT_DRAWINGS_POS_CURRENT_sum']/cre_merge['CRE_AMT_DRAWINGS_CURRENT_sum']

# percentage of the number of times drawing at atm/others/pos
cre_merge['CRE_PER_CNT_DRAWINGS_ATM'] = cre_merge['CRE_CNT_DRAWINGS_ATM_CURRENT_sum']/cre_merge['CRE_CNT_DRAWINGS_CURRENT_sum']
cre_merge['CRE_PER_CNT_DRAWINGS_OTHER'] = cre_merge['CRE_CNT_DRAWINGS_OTHER_CURRENT_sum']/cre_merge['CRE_CNT_DRAWINGS_CURRENT_sum']
cre_merge['CRE_PER_CNT_DRAWINGS_POS'] = cre_merge['CRE_CNT_DRAWINGS_POS_CURRENT_sum']/cre_merge['CRE_CNT_DRAWINGS_CURRENT_sum']

In [15]:
cre_merge.head()

,SK_ID_CURR,CRE_CNT_MONTHS,CRE_NAME_CONTRACT_STATUS_Active_count,CRE_NAME_CONTRACT_STATUS_Active_norm,CRE_NAME_CONTRACT_STATUS_Approved_count,CRE_NAME_CONTRACT_STATUS_Approved_norm,CRE_NAME_CONTRACT_STATUS_Completed_count,CRE_NAME_CONTRACT_STATUS_Completed_norm,CRE_NAME_CONTRACT_STATUS_Demand_count,CRE_NAME_CONTRACT_STATUS_Demand_norm,CRE_NAME_CONTRACT_STATUS_Refused_count,CRE_NAME_CONTRACT_STATUS_Refused_norm,CRE_NAME_CONTRACT_STATUS_Sent proposal_count,CRE_NAME_CONTRACT_STATUS_Sent proposal_norm,CRE_NAME_CONTRACT_STATUS_Signed_count,CRE_NAME_CONTRACT_STATUS_Signed_norm,CRE_MONTHS_BALANCE_min,CRE_MONTHS_BALANCE_max,CRE_MONTHS_BALANCE_mean,CRE_MONTHS_BALANCE_sum,CRE_AMT_BALANCE_min,CRE_AMT_BALANCE_max,CRE_AMT_BALANCE_mean,CRE_AMT_BALANCE_sum,CRE_AMT_CREDIT_LIMIT_ACTUAL_min,CRE_AMT_CREDIT_LIMIT_ACTUAL_max,CRE_AMT_CREDIT_LIMIT_ACTUAL_mean,CRE_AMT_CREDIT_LIMIT_ACTUAL_sum,CRE_AMT_DRAWINGS_ATM_CURRENT_min,CRE_AMT_DRAWINGS_ATM_CURRENT_max,CRE_AMT_DRAWINGS_ATM_CURRENT_mean,CRE_AMT_DRAWINGS_ATM_CURRENT_sum,CRE_AMT_DRAWINGS_CURRENT_min,CRE_AMT_DRAWINGS_CURRENT_max,CRE_AMT_DRAWINGS_CURRENT_mean,CRE_AMT_DRAWINGS_CURRENT_sum,CRE_AMT_DRAWINGS_OTHER_CURRENT_min,CRE_AMT_DRAWINGS_OTHER_CURRENT_max,CRE_AMT_DRAWINGS_OTHER_CURRENT_mean,CRE_AMT_DRAWINGS_OTHER_CURRENT_sum,CRE_AMT_DRAWINGS_POS_CURRENT_min,CRE_AMT_DRAWINGS_POS_CURRENT_max,CRE_AMT_DRAWINGS_POS_CURRENT_mean,CRE_AMT_DRAWINGS_POS_CURRENT_sum,CRE_AMT_INST_MIN_REGULARITY_min,CRE_AMT_INST_MIN_REGULARITY_max,CRE_AMT_INST_MIN_REGULARITY_mean,CRE_AMT_INST_MIN_REGULARITY_sum,CRE_AMT_PAYMENT_CURRENT_min,CRE_AMT_PAYMENT_CURRENT_max,CRE_AMT_PAYMENT_CURRENT_mean,CRE_AMT_PAYMENT_CURRENT_sum,CRE_AMT_PAYMENT_TOTAL_CURRENT_min,CRE_AMT_PAYMENT_TOTAL_CURRENT_max,CRE_AMT_PAYMENT_TOTAL_CURRENT_mean,CRE_AMT_PAYMENT_TOTAL_CURRENT_sum,CRE_AMT_RECEIVABLE_PRINCIPAL_min,CRE_AMT_RECEIVABLE_PRINCIPAL_max,CRE_AMT_RECEIVABLE_PRINCIPAL_mean,CRE_AMT_RECEIVABLE_PRINCIPAL_sum,CRE_AMT_RECIVABLE_min,CRE_AMT_RECIVABLE_max,CRE_AMT_RECIVABLE_mean,CRE_AMT_RECIVABLE_sum,CRE_AMT_TOTAL_RECEIVABLE_min,CRE_AMT_TOTAL_RECEIVABLE_max,CRE_AMT_TOTAL_RECEIVABLE_mean,CRE_AMT_TOTAL_RECEIVABLE_sum,CRE_CNT_DRAWINGS_ATM_CURRENT_min,CRE_CNT_DRAWINGS_ATM_CURRENT_max,CRE_CNT_DRAWINGS_ATM_CURRENT_mean,CRE_CNT_DRAWINGS_ATM_CURRENT_sum,CRE_CNT_DRAWINGS_CURRENT_min,CRE_CNT_DRAWINGS_CURRENT_max,CRE_CNT_DRAWINGS_CURRENT_mean,CRE_CNT_DRAWINGS_CURRENT_sum,CRE_CNT_DRAWINGS_OTHER_CURRENT_min,CRE_CNT_DRAWINGS_OTHER_CURRENT_max,CRE_CNT_DRAWINGS_OTHER_CURRENT_mean,CRE_CNT_DRAWINGS_OTHER_CURRENT_sum,CRE_CNT_DRAWINGS_POS_CURRENT_min,CRE_CNT_DRAWINGS_POS_CURRENT_max,CRE_CNT_DRAWINGS_POS_CURRENT_mean,CRE_CNT_DRAWINGS_POS_CURRENT_sum,CRE_CNT_INSTALMENT_MATURE_CUM_min,CRE_CNT_INSTALMENT_MATURE_CUM_max,CRE_CNT_INSTALMENT_MATURE_CUM_mean,CRE_CNT_INSTALMENT_MATURE_CUM_sum,CRE_SK_DPD_min,CRE_SK_DPD_max,CRE_SK_DPD_mean,CRE_SK_DPD_sum,CRE_SK_DPD_DEF_min,CRE_SK_DPD_DEF_max,CRE_SK_DPD_DEF_mean,CRE_SK_DPD_DEF_sum,CRE_FLAG_DPD_min,CRE_FLAG_DPD_max,CRE_FLAG_DPD_mean,CRE_FLAG_DPD_sum,CRE_FLAG_DPD_DEF_min,CRE_FLAG_DPD_DEF_max,CRE_FLAG_DPD_DEF_mean,CRE_FLAG_DPD_DEF_sum,CRE_PER_DPD,CRE_PER_DPD_DEF,CRE_PER_AMT_DRAWINGS_ATM,CRE_PER_AMT_DRAWINGS_OTHER,CRE_PER_AMT_DRAWINGS_POS,CRE_PER_CNT_DRAWINGS_ATM,CRE_PER_CNT_DRAWINGS_OTHER,CRE_PER_CNT_DRAWINGS_POS
0,0,8,8,1.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,-8,-1,-4.50000,-36,0.00000,36569.43000,6735.50438,53884.03500,180000,180000,180000.00000,1440000,0.00000,0.00000,0.00000,0.00000,0.00000,56187.00000,14053.45500,112427.64000,0.00000,0.00000,0.00000,0.00000,0.00000,56187.00000,14053.45500,112427.64000,0.00000,2250.00000,281.25000,2250.00000,488.07000,63574.92000,14310.64929,100174.54500,0.00000,63574.92000,11959.31812,95674.54500,0.00000,36569.43000,6735.50438,53884.03500,0.00000,36569.43000,6735.50438,53884.03500,0.00000,36569.43000,6735.50438,53884.03500,0.00000,0.00000,0.00000,0.00000,0,10,2.62500,21,0.00000,0.00000,0.00000,0.00000,0.00000,10.00000,2.62500,21.00000,0.00000,1.00000,0.25000,2.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000
1,1,9,9,1.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,-9,-1,-5.00000,-45,15271.20000,227526.21000,147180.88000,1324627.92000,225000,225000,225000.00000,2025000,0.00000,180000.00000,26000.00000,234000.00000,0.00000,180000.00000,26000.00000,234000.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,11497.05000,6675.51500,60079.63500,2250.00000,11700.00000,7678.12500,61425.00000,0.00000,11700.00000,6825.00000,61425.00000,14915.11500,219951.09000,143347.49500,1290127.45500,15271.20000,224385.21000,146334.38000,1317009.42000,15271.20000,224385.21000,146334.38000,1317009.42000,0.00000,3.00000,0.77778,7.00000,0,3,0.77778,7,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,8.00000,4.00000,36.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000
2,3,11,10,0.90909,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,1,0.09091,-11,-1,-6.00000,-66,0.00000,140704.96500,124425.87545,1368684.63000,135000,135000,135000.00000,1485000,0.00000,0.00000,0.00000,0.00000,0.00000,145829.07000,17483.85409,192322.39500,0.00000,0.00000,0.00000,0.00000,0.00000,145829.07000,19232.23950,192322.39500,0.00000,7008.61500,5517.69545,60694.65000,309.15000,20823.52500,10061.01450,100610.14500,0.00000,20823.52500,8511.68045,93628.48500,0.00000,134746.96500,119978.64000,1319765.04000,0.00000,138996.99000,123057.73636,1353635.10000,0.00000,138996.99000,123057.73636,1353635.10000,0.00000,0.00000,0.00000,0.00000,0,45,6.72727,74,0.00000,0.00000,0.00000,0.00000,0.00000,45.00000,7.40000,74.00000,0.00000,9.00000,4.09091,45.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000
3,7,18,15,0.83333,0,0.00000,3,0.16667,0,0.00000,0,0.00000,0,0.00000,0,0.00000,-18,-1,-9.50000,-171,0.00000,0.00000,0.00000,0.00000,0,225000,62500.00000,1125000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,NaN,NaN,NaN,0.00000,0,0,0.00000,0,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,0.00000,0.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0.00000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN
4,9,11,2,0.18182,0,0.00000,9,0.81818,0,0.00000,0,0.00000,0,0.00000,0,0.00000,-11,-1,-6.00000,-66,0.00000,4711.50000,428.31818,4711.50000,0,900000,163636.36364,1800000,0.00000,68400.00000,6218.18182,68400.00000,0.00000,68400.00000,6218.18182,68400.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2250.00000,204.54545,2250.00000,0.00000,73422.00000,7131.28500,78444.13500,0.00000,73422.00000,7131.28500,78444.13500,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,3.00000,0.27273,3.00000,0,3,0.27273,3,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,0.90909,10.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0.00000,0.00000,1.00000,0.00000,0.00000,1.00000,0.00000,0.00000

__5. Scaling__

In [16]:
cre_scaled = cre_merge.copy()
cre_scaled.iloc[:, 1:] = ft.scale_df_full(cre_scaled.iloc[:,1:], method='standard')

__6. Filling missing values__

In [17]:
# merge with SK_ID_CURR and TARGET of the train/test to fillna in the whole set
cre_final = id_target.merge(cre_scaled, on='SK_ID_CURR', how='left')

# Fillna with 0
cre_final.iloc[:, 2:] = ft.fillna(cre_final.iloc[:, 2:], 'constant', 0)

__7. Saving Files__

In [18]:
cre_final.to_csv('prepared_files/dp_cre.csv')

### pos_balance

__1. Data Exploration__

In [19]:
pos = pos_raw.copy()

In [20]:
ft.check_nan(pos)

                         nan    %nan
CNT_INSTALMENT_FUTURE  21878 0.25608
CNT_INSTALMENT         21863 0.25591

In [21]:
ft.multi_features_explore(pos)

index,dtype,nonnull,%nonnull,nan,%nan,nunique,nunique_nan,max,min,mean,std,unique,frequency,%value,most
SK_ID_CURR,int64,8543375,1.00000,0,0.00000,289444,289444,307510,0,153535.55637,88716.60941,NaN,NaN,NaN,NaN
SK_ID_PREV,int64,8543375,1.00000,0,0.00000,800337,800337,2843499,1000001,1903488.60328,535938.72553,NaN,NaN,NaN,NaN
MONTHS_BALANCE,int64,8543375,1.00000,0,0.00000,96,96,-1,-96,-34.94812,26.05372,NaN,NaN,NaN,NaN
CNT_INSTALMENT,float64,8521512,1.00000,21863,0.00000,72,73,84.00000,1.00000,17.03348,12.00430,NaN,NaN,NaN,NaN
CNT_INSTALMENT_FUTURE,float64,8521497,1.00000,21878,0.00000,78,79,84.00000,0.00000,10.46808,11.14408,NaN,NaN,NaN,NaN
NAME_CONTRACT_STATUS,object,8543375,1.00000,0,0.00000,9,9,NaN,NaN,NaN,NaN,"[Active, Completed, Approved, Signed, Returned to the store, Demand, XNA, Canceled, Amortized debt]","{'Active': 7818577, 'Completed': 634872, 'Signed': 74625, 'Demand': 6110, 'Returned to the store': 4591, 'Approved': 4221, 'Amortized debt': 365, 'Canceled': 12, 'XNA': 2}","{'Active': 0.92, 'Completed': 0.07, 'Signed': 0.01, 'Demand': 0.0, 'Returned to the store': 0.0, 'Approved': 0.0, 'Amortized debt': 0.0, 'Canceled': 0.0, 'XNA': 0.0}",[Active]
SK_DPD,int64,8543375,1.00000,0,0.00000,3358,3358,4231,0,11.90473,134.03021,NaN,NaN,NaN,NaN
SK_DPD_DEF,int64,8543375,1.00000,0,0.00000,1987,1987,3373,0,0.58352,30.42110,NaN,NaN,NaN,NaN

__COMMENTS__
* `XNA` seems to represent missing values but not having been defined by np.nan yet. We need to replace `XNA` with np.nan.

In [22]:
pos = pos.replace('XNA', np.nan)

__1. Create new features__

In [23]:
# flag if there is day past due
pos['FLAG_DPD'] = pos['SK_DPD'].apply(lambda x: 0 if x==0 else 1)

# flag if there is day past due (with tolerance)
pos['FLAG_DPD_DEF'] = pos['SK_DPD_DEF'].apply(lambda x: 0 if x==0 else 1)

__2. Dealing with categorical features__

In [24]:
pos_cat = ft.sub_cate_norm(pos,'SK_ID_CURR', 'POS').reset_index()
pos_cat.head()

,SK_ID_CURR,POS_NAME_CONTRACT_STATUS_Active_count,POS_NAME_CONTRACT_STATUS_Active_norm,POS_NAME_CONTRACT_STATUS_Amortized debt_count,POS_NAME_CONTRACT_STATUS_Amortized debt_norm,POS_NAME_CONTRACT_STATUS_Approved_count,POS_NAME_CONTRACT_STATUS_Approved_norm,POS_NAME_CONTRACT_STATUS_Canceled_count,POS_NAME_CONTRACT_STATUS_Canceled_norm,POS_NAME_CONTRACT_STATUS_Completed_count,POS_NAME_CONTRACT_STATUS_Completed_norm,POS_NAME_CONTRACT_STATUS_Demand_count,POS_NAME_CONTRACT_STATUS_Demand_norm,POS_NAME_CONTRACT_STATUS_Returned to the store_count,POS_NAME_CONTRACT_STATUS_Returned to the store_norm,POS_NAME_CONTRACT_STATUS_Signed_count,POS_NAME_CONTRACT_STATUS_Signed_norm
0,0,12,0.80000,0,0.00000,0,0.00000,0,0.00000,3,0.20000,0,0.00000,0,0.00000,0,0.00000
1,1,21,0.91304,0,0.00000,0,0.00000,0,0.00000,2,0.08696,0,0.00000,0,0.00000,0,0.00000
2,2,31,0.91176,0,0.00000,0,0.00000,0,0.00000,3,0.08824,0,0.00000,0,0.00000,0,0.00000
3,3,11,0.78571,0,0.00000,0,0.00000,0,0.00000,3,0.21429,0,0.00000,0,0.00000,0,0.00000
4,4,7,1.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000,0,0.00000

__3. Dealing with numerical features__

In [26]:
pos_count = pos.groupby("SK_ID_CURR")[['MONTHS_BALANCE']].count().rename(columns={'MONTHS_BALANCE': 'POS_CNT_MONTHS'}).reset_index()
pos_count.head()

   SK_ID_CURR  POS_CNT_MONTHS
0           0              15
1           1              23
2           2              34
3           3              14
4           4               7

In [27]:
pos_num = ft.sub_num_agg(pos, 'SK_ID_CURR', 'POS')
pos_num.head()

,SK_ID_CURR,POS_MONTHS_BALANCE_min,POS_MONTHS_BALANCE_max,POS_MONTHS_BALANCE_mean,POS_MONTHS_BALANCE_sum,POS_CNT_INSTALMENT_min,POS_CNT_INSTALMENT_max,POS_CNT_INSTALMENT_mean,POS_CNT_INSTALMENT_sum,POS_CNT_INSTALMENT_FUTURE_min,POS_CNT_INSTALMENT_FUTURE_max,POS_CNT_INSTALMENT_FUTURE_mean,POS_CNT_INSTALMENT_FUTURE_sum,POS_SK_DPD_min,POS_SK_DPD_max,POS_SK_DPD_mean,POS_SK_DPD_sum,POS_SK_DPD_DEF_min,POS_SK_DPD_DEF_max,POS_SK_DPD_DEF_mean,POS_SK_DPD_DEF_sum,POS_FLAG_DPD_min,POS_FLAG_DPD_max,POS_FLAG_DPD_mean,POS_FLAG_DPD_sum,POS_FLAG_DPD_DEF_min,POS_FLAG_DPD_DEF_max,POS_FLAG_DPD_DEF_mean,POS_FLAG_DPD_DEF_sum
0,0,-15,-1,-7.46667,-112,2.00000,12.00000,8.13333,122.00000,0.00000,12.00000,6.40000,96.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
1,1,-53,-12,-32.08696,-738,10.00000,36.00000,22.47826,517.00000,0.00000,36.00000,17.21739,396.00000,0,15,1.26087,29,0,0,0.00000,0,0,1,0.08696,2,0,0,0.00000,0
2,2,-82,-23,-55.14706,-1875,4.00000,12.00000,8.58824,292.00000,0.00000,12.00000,4.26471,145.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
3,3,-24,-5,-12.42857,-174,2.00000,12.00000,9.92857,139.00000,0.00000,12.00000,7.92857,111.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0
4,4,-79,-73,-76.00000,-532,6.00000,6.00000,6.00000,42.00000,0.00000,6.00000,3.00000,21.00000,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0,0,0,0.00000,0

__4. Merging__

In [28]:
pos_merge = pos_count.merge(pos_cat, on='SK_ID_CURR', how='left')
pos_merge = pos_merge.merge(pos_num, on='SK_ID_CURR', how='left')

In [29]:
# percentage of months past due
pos_merge['POS_PER_DPD'] = pos_merge['POS_FLAG_DPD_sum']/pos_merge['POS_CNT_MONTHS']
# percentage of months past due (with tolerance)
pos_merge['POS_PER_DPD_DEF'] = pos_merge['POS_FLAG_DPD_DEF_sum']/pos_merge['POS_CNT_MONTHS']

__5. Scaling__

In [30]:
pos_scaled = pos_merge.copy()
pos_scaled.iloc[:, 1:] = ft.scale_df_full(pos_scaled.iloc[:,1:], method='standard')

__6. Filling missing values__

In [31]:
# merge with SK_ID_CURR and TARGET of the train/test to fillna in the whole set
pos_final = id_target.merge(pos_scaled, on='SK_ID_CURR', how='left')

# Fillna with 0
pos_final.iloc[:, 2:] = ft.fillna(pos_final.iloc[:, 2:], 'constant', 0)

__7. Saving files__

In [32]:
pos_final.to_csv('prepared_files/dp_pos.csv')